
$lab-font-family: "lab" !default;
$lab-font-path: "../../fonts" !default;

$lab-iconabstract-music-note: "\e900";
$lab-iconarrows-in-circle: "\e901";
$lab-iconarrow-up-mark: "\e902";
$lab-iconartist-palette: "\e903";
$lab-iconbaby-walki-talkie: "\e904";
$lab-iconbackpack: "\e905";
$lab-iconbasketball: "\e906";
$lab-iconbig-handbag: "\e907";
$lab-iconbirthday-gift: "\e908";
$lab-iconblank-cloud: "\e909";
$lab-iconblank-rounded-speech-balloon: "\e90a";
$lab-iconbook-with-bookmark: "\e90b";
$lab-iconbullseye: "\e90c";
$lab-iconbunk-bed: "\e90d";
$lab-iconcalendar-day: "\e90e";
$lab-iconcamera-flash: "\e90f";
$lab-iconcelsius-thermometer: "\e910";
$lab-iconclipboard: "\e911";
$lab-iconclipboard-1: "\e912";
$lab-iconclothes-hanger: "\e913";
$lab-iconcompass-orientation-tool: "\e914";
$lab-iconcomputer-mouse: "\e915";
$lab-iconcredit-card-of-rounded: "\e916";
$lab-iconcycle-loading: "\e917";
$lab-icondice-with-a-six: "\e918";
$lab-icondocument-report: "\e919";
$lab-icondollar-sign-button: "\e91a";
$lab-icondouble-circle: "\e91b";
$lab-icondownload-to-inbox: "\e91c";
$lab-iconempty-folder: "\e91d";
$lab-iconfaq-button: "\e91e";
$lab-iconfly-airplane: "\e91f";
$lab-iconfolded-text-page: "\e920";
$lab-iconfull-charge: "\e921";
$lab-icongamepad-cross: "\e922";
$lab-icongear-settings: "\e923";
$lab-icongraph-line: "\e924";
$lab-iconhand-bag: "\e925";
$lab-iconhot-cup: "\e926";
$lab-iconidea-bulb: "\e927";
$lab-iconimage: "\e928";
$lab-iconinformation-signal: "\e929";
$lab-iconlabel-with-rope: "\e92a";
$lab-iconlamp-of-stone-temple: "\e92b";
$lab-iconlaptop-computer: "\e92c";
$lab-iconlocked: "\e92d";
$lab-iconlow-rounded-battery: "\e92e";
$lab-iconluggage-with-handle: "\e92f";
$lab-iconmagnifying-glass: "\e930";
$lab-iconmap-pointer: "\e931";
$lab-iconmaths-graphic: "\e932";
$lab-iconmusical-volume: "\e933";
$lab-iconnotebook: "\e934";
$lab-iconold-monitor: "\e935";
$lab-icononline-shop-cart: "\e936";
$lab-iconorigami-airplane: "\e937";
$lab-iconpadlock-open: "\e938";
$lab-iconpalm-tree: "\e939";
$lab-iconpaperclip: "\e93a";
$lab-iconpicket-garden-fence: "\e93b";
$lab-iconpicnic-basket: "\e93c";
$lab-iconpole-flag: "\e93d";
$lab-iconpower-sign: "\e93e";
$lab-iconpull-down-chart-with-graph: "\e93f";
$lab-iconradio-mic: "\e940";
$lab-iconrecycle-logo: "\e941";
$lab-iconright-tick: "\e942";
$lab-iconround-clock: "\e943";
$lab-iconrounded-cross-sign: "\e944";
$lab-iconrounded-envelope: "\e945";
$lab-iconrounded-pie-chart: "\e946";
$lab-iconrounded-printer: "\e947";
$lab-iconrounded-star: "\e948";
$lab-iconsailboat-with-two-sails: "\e949";
$lab-iconschool-portfolio: "\e94a";
$lab-iconsecurity-pass: "\e94b";
$lab-iconshelving-wood: "\e94c";
$lab-iconsmall-gamepad: "\e94d";
$lab-iconspeech-bbubble-with-text: "\e94e";
$lab-iconstar-shape: "\e94f";
$lab-iconsupermarket-shopping-basket: "\e950";
$lab-iconsuppository-capsule: "\e951";
$lab-icontablet-informatic: "\e952";
$lab-icontactile-tablet: "\e953";
$lab-icontelephone-receiver: "\e954";
$lab-icontemple-structure: "\e955";
$lab-iconthree-books: "\e956";
$lab-icontiny-calculator: "\e957";
$lab-icontool-button: "\e958";
$lab-icontrash-metal-pail: "\e959";
$lab-icontriangular-pointer: "\e95a";
$lab-iconupload-arrow: "\e95b";
$lab-iconuser-avatar: "\e95c";
$lab-iconvalentine-heart: "\e95d";
$lab-iconvolume-round-bars: "\e95e";
$lab-iconweek-calendar: "\e95f";
$lab-iconwhite-flag: "\e960";
$lab-iconwhite-t-shirt: "\e961";
$lab-iconwifi-wave: "\e962";

