.navleft{      
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    left: 0;
    top: $header-h;   
    background-color: black;
    transition: width 0.6s ease-in-out;
    height: calc(100vh - #{$header-h});

    &.open-nav{
        width: 13rem;
    }

    &.close-nav{
        width: 6rem;
    }

    .brand-lab{
        padding-top: 1rem;
        padding-bottom: 2rem;
        .logo{
            display: flex;
            flex-direction: row;
            margin: 0 1rem 0 0;
            justify-content: center;
            align-items: center;
            width: 3.4rem;
            height: 3.4rem;
            border-radius: 3.4rem;
            background-color: #2b2b2b;
            color: #dcdcdc;
            font-size: 1.6rem;
        }
    }  
    .nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        overflow-x: hidden;      
       // padding: 1rem 0.5rem 2rem 0.5rem;         
        &,
        li,
        li a{           
            width: 100%;         
        }
        &.active{
            li{                                         
                a{                   
                    justify-content: space-between;
                    i{                       
                        margin-left: 1rem;
                        margin-right: 1rem;
                        padding-left: 0;
                        max-width: 1.6rem;
                    }
                    span {
                        display: flex;
                        opacity: 1;                   
                        flex-grow: 1;
                    }
                }
            }
        } 
        li{                    
            list-style: none;
            margin-bottom: 1.8rem;   
            a{
                display: flex;
                width: $navOpen;
                flex-direction: row;
                align-items: center;
                text-decoration: none;
                color: #dcdcdc;
                &,
                i,
                span {
                    transition: all 0.3s ease-in-out;
                }
                i{
                    display: flex;
                    padding-left: calc(#{$navClose} / 2 - 0.6rem);
                    width: $navClose;
                }
                span{
                    display: flex;
                    opacity: 0;
                }
            } 
        }
    }
}