@font-face {
  font-family: 'lab';
  src:  url('fonts/lab.eot?d3zpl2');
  src:  url('fonts/lab.eot?d3zpl2#iefix') format('embedded-opentype'),
    url('fonts/lab.ttf?d3zpl2') format('truetype'),
    url('fonts/lab.woff?d3zpl2') format('woff'),
    url('fonts/lab.svg?d3zpl2#lab') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="lab-icon"], [class*=" lab-icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lab' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lab-iconabstract-music-note:before {
  content: "\e900";
}
.lab-iconarrows-in-circle:before {
  content: "\e901";
}
.lab-iconarrow-up-mark:before {
  content: "\e902";
}
.lab-iconartist-palette:before {
  content: "\e903";
}
.lab-iconbaby-walki-talkie:before {
  content: "\e904";
}
.lab-iconbackpack:before {
  content: "\e905";
}
.lab-iconbasketball:before {
  content: "\e906";
}
.lab-iconbig-handbag:before {
  content: "\e907";
}
.lab-iconbirthday-gift:before {
  content: "\e908";
}
.lab-iconblank-cloud:before {
  content: "\e909";
}
.lab-iconblank-rounded-speech-balloon:before {
  content: "\e90a";
}
.lab-iconbook-with-bookmark:before {
  content: "\e90b";
}
.lab-iconbullseye:before {
  content: "\e90c";
}
.lab-iconbunk-bed:before {
  content: "\e90d";
}
.lab-iconcalendar-day:before {
  content: "\e90e";
}
.lab-iconcamera-flash:before {
  content: "\e90f";
}
.lab-iconcelsius-thermometer:before {
  content: "\e910";
}
.lab-iconclipboard:before {
  content: "\e911";
}
.lab-iconclipboard-1:before {
  content: "\e912";
}
.lab-iconclothes-hanger:before {
  content: "\e913";
}
.lab-iconcompass-orientation-tool:before {
  content: "\e914";
}
.lab-iconcomputer-mouse:before {
  content: "\e915";
}
.lab-iconcredit-card-of-rounded:before {
  content: "\e916";
}
.lab-iconcycle-loading:before {
  content: "\e917";
}
.lab-icondice-with-a-six:before {
  content: "\e918";
}
.lab-icondocument-report:before {
  content: "\e919";
}
.lab-icondollar-sign-button:before {
  content: "\e91a";
}
.lab-icondouble-circle:before {
  content: "\e91b";
}
.lab-icondownload-to-inbox:before {
  content: "\e91c";
}
.lab-iconempty-folder:before {
  content: "\e91d";
}
.lab-iconfaq-button:before {
  content: "\e91e";
}
.lab-iconfly-airplane:before {
  content: "\e91f";
}
.lab-iconfolded-text-page:before {
  content: "\e920";
}
.lab-iconfull-charge:before {
  content: "\e921";
}
.lab-icongamepad-cross:before {
  content: "\e922";
}
.lab-icongear-settings:before {
  content: "\e923";
}
.lab-icongraph-line:before {
  content: "\e924";
}
.lab-iconhand-bag:before {
  content: "\e925";
}
.lab-iconhot-cup:before {
  content: "\e926";
}
.lab-iconidea-bulb:before {
  content: "\e927";
}
.lab-iconimage:before {
  content: "\e928";
}
.lab-iconinformation-signal:before {
  content: "\e929";
}
.lab-iconlabel-with-rope:before {
  content: "\e92a";
}
.lab-iconlamp-of-stone-temple:before {
  content: "\e92b";
}
.lab-iconlaptop-computer:before {
  content: "\e92c";
}
.lab-iconlocked:before {
  content: "\e92d";
}
.lab-iconlow-rounded-battery:before {
  content: "\e92e";
}
.lab-iconluggage-with-handle:before {
  content: "\e92f";
}
.lab-iconmagnifying-glass:before {
  content: "\e930";
}
.lab-iconmap-pointer:before {
  content: "\e931";
}
.lab-iconmaths-graphic:before {
  content: "\e932";
}
.lab-iconmusical-volume:before {
  content: "\e933";
}
.lab-iconnotebook:before {
  content: "\e934";
}
.lab-iconold-monitor:before {
  content: "\e935";
}
.lab-icononline-shop-cart:before {
  content: "\e936";
}
.lab-iconorigami-airplane:before {
  content: "\e937";
}
.lab-iconpadlock-open:before {
  content: "\e938";
}
.lab-iconpalm-tree:before {
  content: "\e939";
}
.lab-iconpaperclip:before {
  content: "\e93a";
}
.lab-iconpicket-garden-fence:before {
  content: "\e93b";
}
.lab-iconpicnic-basket:before {
  content: "\e93c";
}
.lab-iconpole-flag:before {
  content: "\e93d";
}
.lab-iconpower-sign:before {
  content: "\e93e";
}
.lab-iconpull-down-chart-with-graph:before {
  content: "\e93f";
}
.lab-iconradio-mic:before {
  content: "\e940";
}
.lab-iconrecycle-logo:before {
  content: "\e941";
}
.lab-iconright-tick:before {
  content: "\e942";
}
.lab-iconround-clock:before {
  content: "\e943";
}
.lab-iconrounded-cross-sign:before {
  content: "\e944";
}
.lab-iconrounded-envelope:before {
  content: "\e945";
}
.lab-iconrounded-pie-chart:before {
  content: "\e946";
}
.lab-iconrounded-printer:before {
  content: "\e947";
}
.lab-iconrounded-star:before {
  content: "\e948";
}
.lab-iconsailboat-with-two-sails:before {
  content: "\e949";
}
.lab-iconschool-portfolio:before {
  content: "\e94a";
}
.lab-iconsecurity-pass:before {
  content: "\e94b";
}
.lab-iconshelving-wood:before {
  content: "\e94c";
}
.lab-iconsmall-gamepad:before {
  content: "\e94d";
}
.lab-iconspeech-bbubble-with-text:before {
  content: "\e94e";
}
.lab-iconstar-shape:before {
  content: "\e94f";
}
.lab-iconsupermarket-shopping-basket:before {
  content: "\e950";
}
.lab-iconsuppository-capsule:before {
  content: "\e951";
}
.lab-icontablet-informatic:before {
  content: "\e952";
}
.lab-icontactile-tablet:before {
  content: "\e953";
}
.lab-icontelephone-receiver:before {
  content: "\e954";
}
.lab-icontemple-structure:before {
  content: "\e955";
}
.lab-iconthree-books:before {
  content: "\e956";
}
.lab-icontiny-calculator:before {
  content: "\e957";
}
.lab-icontool-button:before {
  content: "\e958";
}
.lab-icontrash-metal-pail:before {
  content: "\e959";
}
.lab-icontriangular-pointer:before {
  content: "\e95a";
}
.lab-iconupload-arrow:before {
  content: "\e95b";
}
.lab-iconuser-avatar:before {
  content: "\e95c";
}
.lab-iconvalentine-heart:before {
  content: "\e95d";
}
.lab-iconvolume-round-bars:before {
  content: "\e95e";
}
.lab-iconweek-calendar:before {
  content: "\e95f";
}
.lab-iconwhite-flag:before {
  content: "\e960";
}
.lab-iconwhite-t-shirt:before {
  content: "\e961";
}
.lab-iconwifi-wave:before {
  content: "\e962";
}
